sentry.sarvesh.yral.com {
    encode gzip zstd

    reverse_proxy ${SARVESH_3_HOST_IP}:9000 {
        health_uri /_health/
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote_host}
        header_up X-Real-IP {remote_host}
    }
}
